<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MainLibaryProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CookieChecker</display-name>
    <servlet-name>CookieChecker</servlet-name>
    <servlet-class>PKG1.CookieChecker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieChecker</servlet-name>
    <url-pattern>/CookieChecker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecieveLoginData</display-name>
    <servlet-name>RecieveLoginData</servlet-name>
    <servlet-class>PKG1.RecieveLoginData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecieveLoginData</servlet-name>
    <url-pattern>/RecieveLoginData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validation</display-name>
    <servlet-name>Validation</servlet-name>
    <servlet-class>PKG1.Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validation</servlet-name>
    <url-pattern>/Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>PKG1.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verification</display-name>
    <servlet-name>Verification</servlet-name>
    <servlet-class>PKG1.Verification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verification</servlet-name>
    <url-pattern>/Verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkOTP</display-name>
    <servlet-name>checkOTP</servlet-name>
    <servlet-class>PKG1.checkOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkOTP</servlet-name>
    <url-pattern>/checkOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwd</display-name>
    <servlet-name>ChangePwd</servlet-name>
    <servlet-class>PKG1.ChangePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwd</servlet-name>
    <url-pattern>/ChangePwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>PKG1.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceieveEditData</display-name>
    <servlet-name>ReceieveEditData</servlet-name>
    <servlet-class>PKG1.ReceieveEditData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceieveEditData</servlet-name>
    <url-pattern>/ReceieveEditData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookValidation</display-name>
    <servlet-name>BookValidation</servlet-name>
    <servlet-class>PKG1.BookValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookValidation</servlet-name>
    <url-pattern>/BookValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchData</display-name>
    <servlet-name>SearchData</servlet-name>
    <servlet-class>PKG1.SearchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchData</servlet-name>
    <url-pattern>/SearchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileData</display-name>
    <servlet-name>UserProfileData</servlet-name>
    <servlet-class>PKG1.UserProfileData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileData</servlet-name>
    <url-pattern>/UserProfileData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportIndu</display-name>
    <servlet-name>ExportIndu</servlet-name>
    <servlet-class>PKG1.ExportIndu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportIndu</servlet-name>
    <url-pattern>/ExportIndu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookData</display-name>
    <servlet-name>SearchBookData</servlet-name>
    <servlet-class>PKG1.SearchBookData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookData</servlet-name>
    <url-pattern>/SearchBookData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookExportIndu</display-name>
    <servlet-name>BookExportIndu</servlet-name>
    <servlet-class>PKG1.BookExportIndu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookExportIndu</servlet-name>
    <url-pattern>/BookExportIndu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEdit</display-name>
    <servlet-name>BookEdit</servlet-name>
    <servlet-class>PKG1.BookEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEdit</servlet-name>
    <url-pattern>/BookEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportAllUser</display-name>
    <servlet-name>ExportAllUser</servlet-name>
    <servlet-class>PKG1.ExportAllUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportAllUser</servlet-name>
    <url-pattern>/ExportAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportAllBooks</display-name>
    <servlet-name>ExportAllBooks</servlet-name>
    <servlet-class>PKG1.ExportAllBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportAllBooks</servlet-name>
    <url-pattern>/ExportAllBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestBook</display-name>
    <servlet-name>RequestBook</servlet-name>
    <servlet-class>PKG1.RequestBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestBook</servlet-name>
    <url-pattern>/RequestBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRequestBook</display-name>
    <servlet-name>UserRequestBook</servlet-name>
    <servlet-class>PKG1.UserRequestBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRequestBook</servlet-name>
    <url-pattern>/UserRequestBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookStatus</display-name>
    <servlet-name>BookStatus</servlet-name>
    <servlet-class>PKG1.BookStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookStatus</servlet-name>
    <url-pattern>/BookStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestData</display-name>
    <servlet-name>ViewRequestData</servlet-name>
    <servlet-class>PKG1.ViewRequestData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestData</servlet-name>
    <url-pattern>/ViewRequestData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accept_CheckOut</display-name>
    <servlet-name>Accept_CheckOut</servlet-name>
    <servlet-class>PKG1.Accept_CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accept_CheckOut</servlet-name>
    <url-pattern>/Accept_CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DueClear</display-name>
    <servlet-name>DueClear</servlet-name>
    <servlet-class>PKG1.DueClear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DueClear</servlet-name>
    <url-pattern>/DueClear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FineSearch</display-name>
    <servlet-name>FineSearch</servlet-name>
    <servlet-class>PKG1.FineSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FineSearch</servlet-name>
    <url-pattern>/FineSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportFine</display-name>
    <servlet-name>ExportFine</servlet-name>
    <servlet-class>PKG1.ExportFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportFine</servlet-name>
    <url-pattern>/ExportFine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportAllFine</display-name>
    <servlet-name>ExportAllFine</servlet-name>
    <servlet-class>PKG1.ExportAllFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportAllFine</servlet-name>
    <url-pattern>/ExportAllFine</url-pattern>
  </servlet-mapping>
  
</web-app>